:root {
  --background-dark-gray-color: #2f303a;
  --background-gray-color: #f5f4fa;
  --text-blue-color: #2196f3;
  --text-black-color: #212121; /* Primary text color */
  --text-gray-color: #757575;
  --text-color-white-transparent: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff; /* Primaty background c  */
}

body {
  color: var(--text-black-color);
  background-color: var(--white-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

/* Шапка и Футер*/

.header-logo,
.footer-logo {
  color: var(--text-blue-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.header-logo:hover,
.header-logo:focus {
  color: var(--text-black-color);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--white-color);
}

.nav-li {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.current {
  color: var(--text-blue-color);
}

.contacts-li {
  color: var(--text-gray-color);
}

.header-nav .nav-li:hover,
.header-nav .nav-li:focus,
.header-contacts .contacts-li:hover,
.header-contacts .contacts-li:focus,
.footer-li:hover,
.footer-li:focus {
  color: var(--text-blue-color);
}

.footer {
  background-color: var(--background-dark-gray-color);
}

.footer-adreess {
  color: var(--white-color);

  font-size: 14px;
  line-height: 1.7;
}

.footer-li {
  color: var(--text-color-white-transparent);
}

/* Основной контент */

/* "Герой" */

.hero {
  background-color: var(--background-dark-gray-color);
}

.hero .hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--text-blue-color);
  color: var(--white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--background-gray-color);
  color: var(--text-black-color);
}

.hero-button:active {
  background-color: var(--background-dark-gray-color);
  color: var(--white-color);
}

/* Секция: Преимущества организации */

.main-advantages .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.main-advantages .description {
  color: var(--text-gray-color);

  font-size: 14px;
  line-height: 1.7;
}

/* Секция: Наша команда + проэкты с Портфолио (portfolio.html) */
.personal {
  background-color: var(--background-gray-color);
}

.personal-list .title,
.personal-list .description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.personal-list .description,
.projects .description {
  color: var(--text-gray-color);

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.projects .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Фильтр */

.filter .button {
  background-color: var(--background-gray-color);
  color: var (--text-black-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.filter .button:hover,
.filter .button:focus {
  background-color: var(--text-blue-color);
  color: var(--white-color);
}
